<a href="https://colab.research.google.com/github/stacjstaton/neural-network-challenge-2/blob/main/attrition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Part 1: Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [ ]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [ ]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
y_df.head()

  Attrition              Department
0       Yes                   Sales
1        No  Research & Development
2       Yes  Research & Development
3        No  Research & Development
4        No  Research & Development

In [ ]:
attrition_df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [ ]:

# Create a list of at least 10 column names to use as X data
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == 'object'].index.tolist()
attrition_cat.pop(0)
attrition_cat.pop(1)
attrition_cat

['BusinessTravel', 'EducationField', 'JobRole', 'MaritalStatus', 'OverTime']

In [ ]:
attrition_df[attrition_cat].nunique()

BusinessTravel    3
EducationField    6
JobRole           9
MaritalStatus     3
OverTime          2
dtype: int64

In [ ]:
#Create X_df using your selected columns
X_df = attrition_df.drop(columns=['Attrition', 'Department'])
X_df.dtypes

Age                          int64
BusinessTravel              object
DistanceFromHome             int64
Education                    int64
EducationField              object
EnvironmentSatisfaction      int64
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [ ]:
from re import X
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, random_state=1)

In [ ]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1102 entries, 464 to 1061
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1102 non-null   int64
 1   BusinessTravel            1102 non-null   object
 2   DistanceFromHome          1102 non-null   int64
 3   Education                 1102 non-null   int64
 4   EducationField            1102 non-null   object
 5   EnvironmentSatisfaction   1102 non-null   int64
 6   HourlyRate                1102 non-null   int64
 7   JobInvolvement            1102 non-null   int64
 8   JobLevel                  1102 non-null   int64
 9   JobRole                   1102 non-null   object
 10  JobSatisfaction           1102 non-null   int64
 11  MaritalStatus             1102 non-null   object
 12  NumCompaniesWorked        1102 non-null   int64
 13  OverTime                  1102 non-null   object
 14  PercentSalaryHike         1102 non-null   int64
 15  PerformanceRating         1102 non-null   int64
 16  RelationshipSatisfaction  1102 non-null   int64
 17  StockOptionLevel          1102 non-null   int64
 18  TotalWorkingYears         1102 non-null   int64
 19  TrainingTimesLastYear     1102 non-null   int64
 20  WorkLifeBalance           1102 non-null   int64
 21  YearsAtCompany            1102 non-null   int64
 22  YearsInCurrentRole        1102 non-null   int64
 23  YearsSinceLastPromotion   1102 non-null   int64
 24  YearsWithCurrManager      1102 non-null   int64
dtypes: int64(20), object(5)
memory usage: 223.8+ KB

In [ ]:
# Create a OneHotEncoder instance
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

#Fit and transform the OneHotEncoder using the categorical variable list
X_train_encoded = pd.Dataframe(enc.fit_transform(X_train[attrition_cat]))
X_test_encoded = pd.Dataframe(enc.transform(X_test[attrition_cat]))

#Add the encoded variable names to the DataFrame
X_train_encoded.columns = enc.get_feature_names(attrition_cat)
X_test_encoded.columns = enc.get_feature_names(attrition_cat)
display(X_train_encoded.head())
display(X_test_encoded.head())

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'sparse'

In [ ]:
# Create a OneHotEncoder for the Department column
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder to the training data
encoder.fit(y_train[['Department']])
# Create two new variables by applying the encoder
# to the training and testing data
y_train_department_encoded = encoder.transform(y_train[['Department']])
y_test_department_encoded = encoder.transform(y_test[['Department']])

In [ ]:
# Create a OneHotEncoder for the Attrition column
encoder = OneHotEncoder(sparse=False)
# Fit the encoder to the training data
encoder.fit(y_train[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_attrition_encoded = encoder.transform(y_train[['Attrition']]).astype(np.float32)
y_test_attrition_encoded = encoder.transform(y_test[['Attrition']])

## Create, Compile, and Train the Model

In [ ]:
# Find the number of columns in the X training data
intput_nodes = len(X_train.columns)

# Create the input layer
from kera.layer import Input
input_layer = Input(shape=(X_train.shape[1],))
# Create at least two shared layers
from keras.layers import Dense
hidden_layer1 = Dense(units=64, activation='relu')(input_layer)
hidden_layer2 = Dense(units=32, activation='relu')(hidden_layer1)

In [ ]:
# Create a branch for Department
# with a hidden layer and an output layer
department_branch = Dense(units=64, activation='relu')(input_layer_2)
# Create the hidden layer


# Create the output layer
attrition_output = Dense(2, activation='softmax')(department_branch)

In [ ]:
# Create a branch for Attrition
# with a hidden layer and an output layer
attrition_branch = Denaw( 32, activation='relu')(input_layer_2
# Create the hidden layer


# Create the output layer

attrition_output = Dense(2, activation =sigmoid')(attrition_branch)

In [ ]:
# Create the model
from keras.models import Model
model = Model(inputs=input_layer, outputs=[attrition_output, department_output])

# Compile the model
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

# Summarize the model
model.summary()

In [ ]:
# Train the model
model.fit(X_train_scaled, {'department_output' : y_train_department_encoded, 'attrition_output' : y_train_attriton_encoded}, epochs=10, batch_size= 32)

In [ ]:
# Evaluate the model with the testing data
department_output_accuracy, attriton_output_acccuracy, loss = model.evaluate(X_test_scaled, {'department_output' : y_test_department_encoded, 'attrition_output' : y_test_attriton_encoded})

In [ ]:
# Print the accuracy for both department and attrition
print(f'Department Accuracy: {round(department_output_accuracy, 4)}, Attrition Accuracy: {round(attrition_output_accuracy, 4)}')

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1.
2.
3.